[submodule "coming-soon"]
	path = coming-soon
	url = https://github.com/GouthamShiv/coming-soon.git
[submodule "webstash-01"]
	path = webstash-01
	url = git@github.com:GouthamShiv/webstash-01.git
[submodule "webstash-01A"]
	path = webstash-01A
	url = https://github.com/GouthamShiv/webstash-01A.git
[submodule "webstash-02"]
	path = webstash-02
	url = https://github.com/GouthamShiv/webstash-02.git
[submodule "webstash-03"]
	path = webstash-03
	url = https://github.com/GouthamShiv/webstash-03.git
[submodule "webstash-04"]
	path = webstash-04
	url = https://github.com/GouthamShiv/webstash-04.git
[submodule "webstash-05"]
	path = webstash-05
	url = https://github.com/GouthamShiv/webstash-05.git
[submodule "webstash-06"]
	path = webstash-06
	url = https://github.com/GouthamShiv/webstash-06.git
[submodule "webstash-07"]
	path = webstash-07
	url = https://github.com/GouthamShiv/webstash-07.git
[submodule "webstash-08"]
	path = webstash-08
	url = https://github.com/GouthamShiv/webstash-08.git
[submodule "webstash-09"]
	path = webstash-09
	url = https://github.com/GouthamShiv/webstash-09.git
[submodule "webstash-10"]
	path = webstash-10
	url = git@github.com:GouthamShiv/webstash-10.git
