[submodule "hcj/coming-soon"]
	path = hcj/coming-soon
	url = https://github.com/GouthamShiv/coming-soon.git
[submodule "hcj/webstash-01"]
	path = hcj/webstash-01
	url = https://github.com/GouthamShiv/webstash-01.git
[submodule "hcj/webstash-02"]
	path = hcj/webstash-02
	url = https://github.com/GouthamShiv/webstash-02.git
[submodule "hcj/webstash-03"]
	path = hcj/webstash-03
	url = https://github.com/GouthamShiv/webstash-03.git
[submodule "hcj/webstash-04"]
	path = hcj/webstash-04
	url = https://github.com/GouthamShiv/webstash-04.git
[submodule "hcj/webstash-05"]
	path = hcj/webstash-05
	url = https://github.com/GouthamShiv/webstash-05.git
[submodule "hcj/webstash-06"]
	path = hcj/webstash-06
	url = https://github.com/GouthamShiv/webstash-06.git
[submodule "hcj/webstash-07"]
	path = hcj/webstash-07
	url = https://github.com/GouthamShiv/webstash-07.git
[submodule "hcj/webstash-08"]
	path = hcj/webstash-08
	url = https://github.com/GouthamShiv/webstash-08.git
[submodule "hcj/webstash-09"]
	path = hcj/webstash-09
	url = https://github.com/GouthamShiv/webstash-09.git
[submodule "hcj/webstash-10"]
	path = hcj/webstash-10
	url = https://github.com/GouthamShiv/webstash-10.git
[submodule "hcj/webstash-11"]
	path = hcj/webstash-11
	url = https://github.com/GouthamShiv/webstash-11.git
[submodule "hcj/webstash-12"]
	path = hcj/webstash-12
	url = https://github.com/GouthamShiv/webstash-12.git
[submodule "hcj/webstash-13"]
	path = hcj/webstash-13
	url = https://github.com/GouthamShiv/webstash-13.git
[submodule "hcj/webstash-14"]
	path = hcj/webstash-14
	url = https://github.com/GouthamShiv/webstash-14.git
[submodule "hcj/webstash-15"]
	path = hcj/webstash-15
	url = https://github.com/GouthamShiv/webstash-15.git
[submodule "hcj/webstash-16"]
	path = hcj/webstash-16
	url = https://github.com/GouthamShiv/webstash-16.git
[submodule "hcj/webstash-17"]
	path = hcj/webstash-17
	url = https://github.com/GouthamShiv/webstash-17.git
[submodule "hcj/webstash-18"]
	path = hcj/webstash-18
	url = https://github.com/GouthamShiv/webstash-18.git
[submodule "hcj/webstash-19"]
	path = hcj/webstash-19
	url = https://github.com/GouthamShiv/webstash-19.git
[submodule "hcj/webstash-20"]
	path = hcj/webstash-20
	url = https://github.com/GouthamShiv/webstash-20.git
[submodule "hcj/webstash-21"]
	path = hcj/webstash-21
	url = https://github.com/GouthamShiv/webstash-21.git
[submodule "hcj/webstash-22"]
	path = hcj/webstash-22
	url = https://github.com/GouthamShiv/webstash-22.git
[submodule "hcj/webstash-23"]
	path = hcj/webstash-23
	url = https://github.com/GouthamShiv/webstash-23.git
[submodule "hcj/webstash-24"]
	path = hcj/webstash-24
	url = https://github.com/GouthamShiv/webstash-24.git
[submodule "hcj/webstash-25"]
	path = hcj/webstash-25
	url = https://github.com/GouthamShiv/webstash-25.git
[submodule "hcj/webstash-26"]
	path = hcj/webstash-26
	url = https://github.com/GouthamShiv/webstash-26.git
[submodule "hcj/webstash-27"]
	path = hcj/webstash-27
	url = https://github.com/GouthamShiv/webstash-27.git
[submodule "hcj/webstash-28"]
	path = hcj/webstash-28
	url = https://github.com/GouthamShiv/webstash-28.git
[submodule "hcj/webstash-29"]
	path = hcj/webstash-29
	url = https://github.com/GouthamShiv/webstash-29.git
[submodule "hcj/webstash-30"]
	path = hcj/webstash-30
	url = https://github.com/GouthamShiv/webstash-30.git
[submodule "hcj/webstash-31"]
	path = hcj/webstash-31
	url = https://github.com/GouthamShiv/webstash-31.git
[submodule "hcj/webstash-32"]
	path = hcj/webstash-32
	url = https://github.com/GouthamShiv/webstash-32.git
[submodule "hcj/webstash-33"]
	path = hcj/webstash-33
	url = https://github.com/GouthamShiv/webstash-33.git
[submodule "hcj/webstash-01A"]
	path = hcj/webstash-01A
	url = https://github.com/GouthamShiv/webstash-01A.git
[submodule "hcj/webstash-34"]
	path = hcj/webstash-34
	url = https://github.com/GouthamShiv/webstash-34.git
[submodule "hcj/webstash-35"]
	path = hcj/webstash-35
	url = https://github.com/GouthamShiv/webstash-35.git
[submodule "hcj/webstash-36"]
	path = hcj/webstash-36
	url = https://github.com/GouthamShiv/webstash-36.git
[submodule "hcj/webstash-37"]
	path = hcj/webstash-37
	url = https://github.com/GouthamShiv/webstash-37.git
[submodule "hcj/webstash-38"]
	path = hcj/webstash-38
	url = https://github.com/GouthamShiv/webstash-38.git
[submodule "hcj/webstash-39"]
	path = hcj/webstash-39
	url = https://github.com/GouthamShiv/webstash-39.git
[submodule "hcj/webstash-40"]
	path = hcj/webstash-40
	url = https://github.com/GouthamShiv/webstash-40.git
[submodule "hcj/webstash-41"]
	path = hcj/webstash-41
	url = https://github.com/GouthamShiv/webstash-41.git
[submodule "hcj/webstash-42"]
	path = hcj/webstash-42
	url = https://github.com/GouthamShiv/webstash-42.git
[submodule "hcj/webstash-43"]
	path = hcj/webstash-43
	url = https://github.com/GouthamShiv/webstash-43.git
