@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

nav {
    background-color: black !important;
}

#brand {
    font-size: 32px;
    transition: 0.4s ease-in-out;
}

#icons {
    margin: auto;
    font-size: 16px;
}

#brand:hover {
    cursor: pointer;
    letter-spacing: 3px;
}

.card {
    min-height: 400px;
}

a #github {
    color: black;
    text-decoration: none;
}

#logo {
    width: 150px;
    height: 150px;
}

.card-img-top {
    max-height: 400px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    background-color: slategray !important;
}

#description {
    margin-top: 40px;
    margin-left: 75px;
}

.home-btn {
    top: 5px;
    left: 10px;
    width: 75px;
    height: 30px;
    z-index: 100;
    padding: 5px;
    position: fixed;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: #ffc107;
}

.home-btn:hover {
    opacity: 0.9;
}

.home-btn a {
    color: black;
    text-decoration: none;
}
